{% extends 'base.html' %}


{% block content %}
    <div class="prompt">View your existing flashcards below or add new ones by selecting "Add New".</div>
    <h1>Your {{subject}} Flashcards</h1>
    <div class="new_link">
        <a href="{% url 'card_new' pk=subject.pk %}">Add New</a>
    </div>
    <div class='container'>
        {% for card in flashcards %}
            <div class='one_subject' >
                    <div class = 'subject'>{{ card.question }}</div>
                    <a class = 'answer_link' href="{% url 'card_answer' pk1=card.pk %}">Answer</a>
                    <div class = 'edit_links'>
                        <a href="{% url 'card_edit' pk1=card.pk pk2=subject.pk %}">Edit</a>
                        <a href="{% url 'delete_card' pk1=card.pk pk2=subject.pk %}">Delete</a>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class = 'back_button'>
    <a href="{% url 'list_subject' %}">Back</a>
    </div>
{% endblock %}

