{% extends 'base.html' %}

{% block content %}
        <div class="prompt">Select a subject to study or select "Add New" to create a new group of flashcards.</div>
        <h1>Current Subjects</h1>
        <div class="new_link">
            <a href="{% url 'subject_new' %}">Add New</a>
        </div>
            <div class="container">
                {% for subject in subjects %}
                    <div class = 'one_subject'>
                        <a class='subject' href="{% url 'card_questions' pk=subject.pk %}" >{{ subject.subject }}</a>
                        <div class = 'edit_links'>
                            <a href="{% url 'delete_subject' pk=subject.pk %}">Delete</a> 
                            <a href="{% url 'subject_edit' pk=subject.pk %}">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
{% endblock %}